.kamchatka {
  width: 100%;
  max-width: 100%;
  min-height: 765px;
  @include indent();
  padding-top: 135px;
  background-color: #ffffff;
  background-image: url("../img/map_of_Russia.png");
  background-repeat: no-repeat;
  background-position: 50% 46%;
  mix-blend-mode: difference;
  position: relative;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map_of_Russia@2x.png");
    background-size: contain;
  }

  &::after {
    content: url("../img/16.png");
    position: absolute;
    bottom: -16%;
    right: 15%;
    width: 191px;
    height: 274px;
  }


  @include media-max-tablet {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 6%;
    background-position: 100% 46%;
  }

  @include media-mobile {
    padding-top: 80px;
    margin-bottom: 25%;
    background-image: url("../img/path3625.png");
    background-position: 50% 50%;
    background-size: contain;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/path3625@2x.png");
    }
  }
}

.kamchatka__heading {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 1.3;
  color: #000000;
  @include indent();
  max-width: 60%;
  margin-left: 7.5%;
  margin-bottom: 2.5%;
  padding: 0.2em;
  text-align: left;

  position: relative;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 0.5em;
    bottom: 5%;
    left: -2%;
    background-color: $base-color;
    z-index: -1;
  }

  @include media-max-tablet {
    font-size: 62px;
  }

  @include media-custom(500px) {
    font-size: 52px;
    margin-left: 0;
    max-width: 100%;
  }
}

.kamchatka__text {
  @include indent();
  padding: 0.5em;
  padding-bottom: 2em;
  color: #000000;
  max-width: 33%;
  margin-left: 8.5%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;

  @include media-custom(1300px) {
    max-width: 50%;
  }

  @include media-max-tablet {
    font-size: 15px;
  }

  @include media-custom(600px) {
    max-width: 65%;
    font-size: 15px;
  }

  @include media-custom(420px) {
    max-width: 80%;
  }

  @include media-mobile {
    font-size: 14px;
    line-height: 1.5;
  }
}
