.logo {
  width: 40px;
  height: 43px;
  @include indent();
  margin: 2px;
  @include flex();
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3x;
  text-decoration: none;

  @include mobile-to-tablet {
    margin-bottom: 2%;
  }

  @include media-mobile {
    margin-bottom: 5%;
  }
}

