.main-nav {
  // outline: 2px dashed crimson;
}

.main-nav__list {
  @include list();
  @include flex();
  justify-content: space-between;
  @include indent();
  margin-right: 10px;
}

.main-nav__link {
  outline: 2px dashed yellow;
  color: #ffffff;
  display: block;
  padding: 0.7em;
  margin-right: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
  cursor: pointer;

  &:hover {

  }
}

.main-nav__link--active {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    bottom: 4px;
    left: 0.5em;
    background-color: $base-color;
  }
}
