.wrapper {
  width: 100%;
  max-width: 100%;
  min-width: $mobile-width;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  @include indent();

  background-color: #000000;
  background-image: url("../../img/ermine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 35%;
  mix-blend-mode: difference;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    // background-image: url("");
  }

  @include media-max-tablet {
    background-position: 50% 0;
  }

}

